.circle
	display flex
	height 80px
	width 80px
	position absolute
	bottom 12px
	right 12px
	flex-direction column
	align-items center
	justify-content center
	background #1698d9
	border-radius 50%
	z-index 100
	
	& > span
		line-height 1
		color #FFF

	& > span:first-child
		font-size 42px
		font-weight 400
	& > span:last-child
		font-size 21px
		font-weight 400